main .content {
  margin-top: 100px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.filters-block {
  min-width: 250px;
  width: 390px;
  color: var(--main-font-color);
  max-height: 370px;
  margin-right: 40px;
}

.search-block {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}

.search-block input {
  background: var(--main-color);
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 22px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIQSURBVHgBtVXLccIwEF2bz9klODeGAeJ0YCpIUgFQQZIKgAqSdAAVABUAFcQHhuEWdRDuDJC3Zj0YZAWDnTcjWMnSvl1pPxYZUKvVfMuyWhj+fr93o3XMA8yDzWbTX61WilLAMijvQvTpMgZpyE5IGo3GC6z8kOka8hCEMygKeMG2badQKLgQnzBask9hX2exWMwukoCgi809mY6hrBMEwdp00PM8d7vdTiG6PIf8sFwuAyNJpVJxS6XSN8sg6sOqHqVEvV4f0MGrNQy7SzLM5h8QTGU+uIaAAcWvHAwQHXjznrTH5ocmcRkH+nQl2PLdbvcm0zau0dFIOExFHuCAohsgj86DECRtjQRv4Ik8oQyAN+F5ROC9RgJPQhLcp6IMgHLF/zGjj98iAR9/KANwPowqGK2/CcaackCkHGRKI4kWsalJGQA9vuhRGgnGnAWEb4syAMofRZwnkYxF9jnz6QYg69t0yDUFY8caSTzGy+XyKCmZ/oIYxlWbr2xoLCtcDOlQdT0uDWmJpOZFRVKZSlJIwpkOgmdZa4PoS8qNEfw9RhD3SsNJP6lWqx68GsUOzvCgE2RzWMIh8/q9dMso6ZT88zeFstI8b2JaZ5Q+0aNjUzKBr/ezWCxyk3NivUUjskwahIwt5tB02AvOau7vKCFzjqL4I581sRMii3KEiShXEhNR7iRJRP9CEifi2vgLwzcuOsOcxnkAAAAASUVORK5CYII=");
  background-position: 97%;
  background-repeat: no-repeat;
}

.search-block input:focus {
  border: none;
  outline: 1px solid var(--accent-color);
}

.block-name {
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 22px;
}

.radio-block.socials {
  margin-bottom: 30px;
}

.block-name a {
  text-decoration: none;
  color: var(--main-color);
}

.block-name a:hover {
  color: var(--main-font-color);
  text-decoration: underline;
}

.block-name>* {
  display: inline-block;
}

.radio-block{
  max-height: 300px;
  transition: max-height .7s ease-in;
  overflow: hidden;
}

.options{
  width: 100%;
  height: 100%;
  overflowY: auto;
  overflowX: hidden;
}

.option {
  letter-spacing: 0.05em;
  width: 100%;
  overflow: hidden;
  height: 18px;
  padding: 3px;
  margin-bottom: 15px;
}

.radio-block-title{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  -ms-align-items: center;
  align-items: center;
  padding: 10px 10px 20px 0;
}

.rb-name{
  font-size: 22px;
  line-height: 23px;
  color: var(--main-font-color);
}

.radio-block.closed{
  max-height: 50px;
  overflow: hidden;
  transition: max-height .3s ease-in;
}

.radio-block.closed .radio-block-switch{
  transform: rotate(0deg);
  transition: .3s;
}

.radio-block-switch{
  width: 30px;
  height: 22px;
  margin-right: 20px;
  transform: rotate(180deg);
  transition: .3s;
}

.radio-block-switch svg{
  width: 100%;
  height: 100%;
}

.option:hover {
  color: var(--secondary-accent-color);
}

.radiobtn {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radiobtn+label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
  margin-bottom: 10px;
  line-height: 16px;
}

.radiobtn+label:before {
  content: " ";
  position: absolute;
  top: -3px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 0px;
  border: 2px solid var(--main-font-color);
  background: transparent;
}

.radiobtn+label:after {
  content: " ";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 0px;
  background: var(--main-font-color);
  opacity: 0;
  transition: .2s;
}

.radiobtn:checked+label:after {
  opacity: 1;
}

.filters-block button {
  letter-spacing: 0.05em;
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 22px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: var(--main-font-color);
  border: none;
  outline: none;
}

.filters-block button:hover {
  transition: .3s;
  box-shadow: 0px 0px 10px 2px var(--accent-color);
  background: var(--secondary-accent-color);
  color: var(--main-font-color);
}

.main-block {
  width: 1200px;
  max-height: 800px;
}

.music-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 82vh;
  width: 100%;
  overflow: hidden;
}

.song {
  padding: 18px;
  width: 205px;
  height: 200px;
  background: var(--main-color);
  border-radius: 5px;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.song-icon {
  margin-bottom: 10px;
}

.song-icon svg {
  height: 65px;
  width: 65px;
}

.song-icon path {
  fill: var(--secondary-font-color);
}

.song-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.07em;
  color: var(--secondary-font-color);
}

.song-singer {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: var(--secondary-font-color);
  margin-bottom: 15px;
}

.song-buttons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 5px;
}

.song-buttons svg {
  height: 35px;
  width: 35px;
}

.button-rent,
.button-play,
.button-buy,
.button-pause
 {
  margin: 0 5px;
}

.button-rent:hover,
.button-play:hover,
.button-buy:hover,
.button-pause:hover {
  cursor: pointer;
}

.button-rent:hover path,
.button-play:hover path,
.button-buy:hover path,
.button-pause:hover path {
  fill: var(--secondary-accent-color);
  transition: .3s;
}

.song-progress {
  width: 100%;
  margin-bottom: 5px;
  height: 17px;
}

input[type=range] {
  width: 100%;
  margin: 5px 0;
  background-color: transparent;
  -webkit-appearance: none;
  margin: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--secondary-font-color);
  border: 0;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -5px;
  width: 15px;
  height: 15px;
  background: var(--accent-color);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--secondary-font-color);
}

input[type=range]::-moz-range-track {
  background: var(--secondary-font-color);
  border: 0;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: var(--accent-color);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5px 0;
  color: transparent;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: var(--secondary-font-color);
  border: 0;
}

input[type=range]::-ms-fill-upper {
  background: var(--secondary-font-color);
  border: 0;
}

input[type=range]::-ms-thumb {
  width: 15px;
  height: 15px;
  background: var(--accent-color);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2d2d2d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #3a3a3a;
}


.song-duration {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.song-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.07em;
  color: var(--secondary-font-color);
}


.pages-navigation-container {
  width: 100%;
}

.page-number-navigation {
  max-width: 750px;
  height: 30px;
  background: var(--main-color);
  border-radius: 5px;
  padding: 15px 300px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  top: 2px;
  flex-shrink: 0;
}

.arrow path{
  fill: var(--secondary-font-color);
}

.arrow:hover path{
  fill: var(--secondary-accent-color);
}

.page-numbers {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  font-size: 22px;
}

.page-number {
  margin: 0 12px;
  position: relative;
  padding: 8px;
  cursor: pointer;
  color: var(--secondary-font-color);
}

.page-number:hover {
  color: var(--secondary-accent-color);
}

.page-number.no-click {
  pointer-events: none;
}

.page-number.active::after {
  border-bottom: 4px solid var(--accent-color);
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  left: 4px;
  bottom: 0;
}

body{
  background: url("../images/background.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
}
