*{
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

html, body, main, label, img, svg, input,  form, iframe, select, .center-container{
  width: 100%;
  height: 100%;
}

label, form{
  display: block;
}

label{
  cursor: pointer;
}

html{
  overflow: hidden;
}

body{
  overflow: hidden;
  background-size: contain;
  background: transparent;
}

.center-container{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.content{
  width: var(--content-width);
  margin: 0 auto;
}

.hide{
  display: none !important;
}

.unfocused{
  filter: blur(2px) grayscale(20%);
  transition: .5s;
  overflow: hidden;
  pointer-events: none;
}

.modal{
  width: 1050px;
  height: 735px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  transition: .5s;
  overflow: hidden;
}

.close{
  position: absolute;
  top: 53px;
  right: 60px;
  z-index: 6;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
}

.close-text{
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-right: 10px;
  height: 100%;
}

.close path{
  fill: var(--secondary-font-color);
}

.close-icon{
  width: 30px;
  height: 100%;
}

.close:hover .close-text{
  color: var(--secondary-accent-color);
}

.close:hover path{
  fill: var(--secondary-accent-color);
}

a.page-number{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
  font-size: 18px;
  color: var(--auth-bakground-color);
}

.page-number:hover {
  color: var(--secondary-accent-color);
}

.page-number.no-click,
.arrow.no-click{
  pointer-events: none;
}

.arrow.no-click path {
  fill: var(--alt-color);
}

@media (max-width: 1800px) {
  main .content{
    margin-top: 60px !important;
  }
  .content {
    scale: 0.9 !important;
  }
  .music-container{
    height: 87vh !important;
  }

  .auth-block{
    scale: .78 !important;
  }
}

